{% extends "wagtailadmin/base.html" %}
{% load wagtailimages_tags wagtailadmin_tags i18n l10n %}
{% block titletag %}{% trans "Choose a page" %}{% endblock %}
{% block extra_css %}
    {{ block.super }}

    {% include "wagtailadmin/pages/_editor_css.html" %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}

    <script src="{% versioned_static 'wagtail_transfer/js/wagtail_transfer.js' %}"></script>
{% endblock %}

{% block content %}
    {% trans "Choose a page" as title_str %}
    {% include "wagtailadmin/shared/header.html" with title=title_str %}

    <div data-wagtail-component="page-chooser" data-api-base-url="{{ api_base_url }}"></div>
{% endblock %}
